.post-more-link {
  //margin-top: 50px;
  margin-top: 10px;

  .btn {
    color: $read-more-color;
    font-size: $read-more-font-size;
    background: $read-more-bg-color;
    border-radius: $read-more-border-radius;
    line-height: 2;
  }
  .btn:hover {
    @extend .btn:hover;
  }
}
